Executive/.private_info_csh
Executive/.private_info
Executive/public_holidays.txt
Executive/log.txt
Executive/log2.txt
Executive/schedule.txt
Executive/signature.txt
Executive/tmp.txt
Executive/.env
TeamMEMS/.private_info
TeamMEMS/public_holidays.txt
TeamMEMS/log.txt
TeamMEMS/schedule.txt
TeamMEMS/signature.txt
TeamMEMS/tmp.txt

# test code
test/

# config
config/*
!config/.private_info.sh.sample
!config/.private_info.csh.sample
