#!/bin/csh -f

# PAY ATTENTION !!!
## private information should be written here.

# your profile
setenv GRADE="M2"
setenv NAME_JP="<your name in Japanese>"  # e.g.) "宮澤"
setenv NAME_EN="<your name in English>"   # e.g.) "Miyazawa"
setenv FROM="<mail address>"              # e.g.) "hoge@example.com"

# destination
## for test environment
setenv TO_TEST="<mail address>"
setenv BCC_TEST="<mail address>"
## for production environment
setenv TO_TEAMMEMS="<mail address>"
setenv TO_EXECUTIVE="<mail address>"
setenv BCC_EXECUTIVE="<mail address>"
